$dark-color: #272727;

$color-nav: #f9ffe8;
$color-green-1: #E3F2D0;
$color-green-gradient-1: #5c6b48;

$color-green-gradient-2: #1a2112;
$color-button-1: #272727;
$color-gray-1: #bbb;
$color-gray-2: #ccc;
$color-gray-3: #ddd;


body {
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  line-height: 190%;
  color: rgb(26,26,26);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
  text-rendering: optimizeLegibility;
  color: #333333;
  font-weight: 500;
}

h1 {
  font-size: 1.8em;
  letter-spacing: 2px;

  &.h1--about {
    padding-top: 2.2em;
    font-weight: 500;
    width: 90%;
    margin: 0 auto;
  }

}

h2 {
  &.h2--heading {
    font-size: 1.4em;
    color: #fff;
  }
}

h3 {
  font-size: 1.8em;
  letter-spacing: 2px;

  &.h3--about {
    padding-top: 2.2em;
  }
  
  &.h3--gallery {
    padding-top: 2.2em;
  }

  &.heading--offer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
  }

  &.h3--hire {
    font-size: 1.4em;
    color: #fff;
  }
}
.lead { //can be h2
  font-size: 1.52em;
  letter-spacing: .5px;
  font-weight: 300;
  color: #494949;

  &--about {
    margin-top: 1em;
    padding-bottom: 2em;
  }

  &--offer {
    margin-top: 1em;
    color: #333;
  }

  &--offer {
    margin-top: 1em;
    padding-bottom: 2em;
  }

  &--heading {
    margin-top: .6em;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    line-height: 110%;
  }

  &--hire {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
  }

  &-project {
    font-size: 1.2em;
  }

  &-project--bottom {
    font-size: .8em;
  }
}

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*
  BUTTONS
*/

.btn {
  width: auto;
  padding: 1em 1em;
  min-height: 80px;
  text-align: center;
  background: #fff;
  border: 2px solid $color-button-1;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    color: #fff;
    background: $color-button-1;
    transition: all .3s;
  }
}

.btn--offer {
  min-width: 250px;
}

.btn--heading {
  background: transparent;
  border: 4px solid #fff;
  color: #fff;
  font-weight: 600;

  &:hover {
    color: #fff;
    background: #fff;
    color:#333;
    transition: all .3s;
  }
}

.btn--hire {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 400;
  
    &:hover {
      background: #fff;
      color:#333;
      transition: all .3s;
  }
}

.btn--gallery {
  margin-top: 2.5em;
  background: transparent;
}

.btn--about {
  background: transparent;
  width: 150px;
}

/*
NAVIGATION
*/

header {
  background: $color-nav;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #5c6b48 !important;

  .logo {
  }
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: $color-nav;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
.nav-link {
  color: black;
  transition: all .7s ease;

  &:hover {
    color: #5c6b48;
    transition: all .7s ease;
  }
}
nav a {
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 200ms ease-in-out;

}
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  & span, &::before, &::after {
    display: block;
    background: black;
    height: 2px;
    width: 1.7em;
    border-radius: 2px;
    position: relative;
  }

  &::before, &::after {
    content: '';
    position: absolute;
  }

  &::before {
    bottom: 25px;
  }

  &::after {
    top: 25px;
  }
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);

  & a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 300ms;
  }
}

/*
  SECTION HEADING
*/
section.heading {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-position: center center;
  display: grid;
  place-items: center;

  &:before {
    margin: 0;
    min-height: 100vh;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,$color-green-gradient-1,$color-green-gradient-2);
    opacity: .55; 
  }
}

.heading__container {
  text-align: center;
  position: relative;
  width: 93%;
  margin: 0 auto;
}

/*
  SECTION ABOUT
*/

section.about {
  background: #fff;
  width: 100%;
}

.about__container {
  background: $color-green-1;
  padding-left: 10%;
  padding-right: 10%;
}

.about__container-top {
  text-align: center;
  margin: 0 auto;
}

.button-about-container {
  margin: 0 auto !important;
  padding-bottom: 4em;
  text-align: center;
}

.about__container-bottom {
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/*
OFFER
*/

.offer {
  margin-top: 1.5em;
}

.offer__icon {
  margin-top: 1em;
}

.offer__description {
  margin-top: 1em;
}

.offer-img {
  height: 100px;
  width: 100px;
  padding: .55em;
  border-radius: 1em;
  border: 1px grey solid;
}

.button-offer-container {
  margin-top: 3em;
  padding-bottom: 3em;
  width: 100%;
}

/*
GAL1
*/




.gallery-1 {
  width: 100%;
  background: $color-green-1;
  margin: 0 auto !important;
  text-align: center;
  padding-bottom: 2rem;
}

.gallery-1-container {
  margin: 0 auto;
  text-align: center;
}

#wrapper {
  padding-top: 4em;
  max-width: 1300px;
  display: inline-block;
  
 
  
}


/*
************************************
************************************
************************************8
************************************
*/

img.gal1 {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

img.gal1:hover {

}

.one-fifth {
  width: 18%;
  float: left;
  margin: 1%;
}

/*
  HIRE
*/

.hire {
  background-image: url('../img/hire.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

  &__container {
    text-align: center;
    margin-bottom: 3em;
    padding-top: 3em;
  }
}

.button-hire-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3em;
}

/*
SECTION GALLERY
*/

.gallery {
  &__container {
    text-align: center;
  }
}

.gallery__container-top {

}

.gallery__container-bottom {

}

.project {
  min-width: 240px;
  max-width: 540px;
  margin: 0 auto;
  margin-top: 1em;
}

.project__top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &--1 {
    background-image: url('../img/gallery/1.jpg');
  }

  &--2 {
    background-image: url('../img/gallery/3.jpg');
  }

  &--3 {
    background-image: url('../img/gallery/2.jpg');
  }

  &--4 {
    background-image: url('../img/gallery/4.jpg');
  }
}

.button-gallery-container {
  margin: 0 auto;
  text-align: center;
}

.project__bottom {

  background: $color-green-1;
  color: #494949;
  min-height: 100px;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#wrapper {
  max-width: 1200px;
  margin: 0px auto;
}

img.example-image {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
}

/*
  SECTION FOOTER
*/
section.footer {
  margin-top: 2rem;
  min-height: 100px;
  background-color: $color-green-gradient-1;
}

p.lead--footer {
  padding-top: 1rem;
  margin: 0 auto;
  text-align: center;
}


/*
MEDIA QUERIES
*/

/* landscape */

@media screen and (min-width: 470px)and (max-width: 570px)  and (orientation: landscape) {
  .lead--offer {
    width: 80%;
    margin: 0 auto;
  }

  .button-offer-container {
    display: none;
  }

  .heading__container {
    padding-top: 2em;
  }
}

@media screen and (min-width: 571px)and (max-width: 770px)  and (orientation: landscape) {
  .lead--offer {
    width: 80%;
    margin: 0 auto;
  }

  .button-offer-container {
    display: none;
  }

  .heading__container {
    padding-top: 2em;
  }
}
@media screen and (min-width: 950px) and (max-width: 1100px) and (orientation: landscape) {
  .lead--offer {
    width: 70%;
    margin: 0 auto;
  }

}


@media screen and (min-width: 800px) {

  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    //padding-bottom: 30px !important;
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
    position: relative;

    &:hover {
      color: #5c6b48;
    }

    &::before {
      content: '';
      display: block;
      height: 15px;
      background: #5c6b48;
      position: absolute;
      top: -1.8em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }

    &:hover::before {
      transform: scale(1,1);
    }
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
}

/*
MEDIA QUERIES
*/

/*
 FOR GAL1 START
*/
@media(max-width: 480px) {
  .one-fifth {
    width: 98%;
    margin: 1%;
  }
}

@media(max-width: 768px) {
  .one-fifth {
    width: 48%;
    margin: 1%;
  }

}

/* FOR GAL1 END */
@media(max-width:313px) {
  .h2--heading {
    padding-top: 2.5em;
    padding-bottom: .5em;
    font-size: 1.4em !important;
    font-weight: 400;
    width: 95%;
    margin: 0 auto;
  }

  .lead--heading {
    font-size: 1.8em;
  }

}


@media(max-width: 950px) {

  .heading--offer {
    padding-top: 0px !important;
  }

  nav li {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: .5em;
    
  }

  .nav-link::after {
    content: '';
    display: block;
    width: 0px;
    margin: 0 auto;
    height: 2px;
    background: #5c6b48;
    transition: all .5s ease;
  }
  .nav-link:hover::after {
    width: 30%;
  }


  section.heading {
    background-attachment: scroll;

  }


  .offer {
    width: 80%;
    margin: 0 auto;
  }

  .offer__description {
    margin-top: 0px !important;
  }


  .lead--offer {
    padding-bottom: 1.5em;
  }

  .lead--hire {
    line-height: 140%;
    padding-top: 1em;
    width: 95%;
    margin: 0 auto;
  }

  h3 {
    padding-top: 1em !important;
    margin: 0 auto;
    width: 60%;

  }
  .h3--hire {
    width: 80%;
  }

  .project {
    padding-top: 2.4em;
    width: 90%;
  }
}

@media(min-width: 590px) and (orientation: portrait) {
  .heading__container {
    width: 65%;
  }

  .heading__container--2 {
    padding-bottom: 2em;
  }

  .lead--heading {
    line-height: 150%;
    font-size: 2.5em;
  }

  .offer__description {
    width: 80%;
    margin: 0 auto;
  }

  .lead--offer {
    padding-bottom: 1em;
  }


  .project {
    margin-top: 3em;
  }
}

@media(min-width: 759px) {

  .lead--about {
    width: 80%;
    line-height: 190%;
    margin: 0 auto;
    padding-top: 1.5em;
  }
  .heading__container{
    width: 60%;
  }
  .offer__container {
    width: 95%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .heading--offer {
    width: 60%;
    margin: 0 auto;
  }

  .offer {
    width: 100%;
    margin: 0 auto;
  }


  .gallery__container-top {
    width: 80%;
    margin: 0 auto;
  }

  .gallery__container-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .project {
    max-width: 280px;
  }


}
@media(min-width: 1100px) {

  .heading__container{
    width: 40%;
    line-height: 220%;

    &--2 {
      width: 80%;
      line-height: 320%;
    }
  }
  .h2--heading {
    font-size: 1.7em !important;
  }
  .h1--about {
    font-size: 3em;
  }

  .lead--about {
    line-height: 140%;
    width: 94%;
    margin: 0 auto;
  }

  .lead--hire {
    font-size: 4em;
    width: 50%;
    line-height: 120%;
    margin: 0 auto;
  }

  h3 {
    font-size: 2.5em;
    padding-top: 1.5em !important;
    padding-bottom: .4em !important;
  }
  .lead--heading {
    font-size: 3em;
  }

 

  .button-about-container {
    padding-bottom: 4em;
  }
  .offer__container {
    padding-top: 3em;
    width: 80%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hire {
    min-height: 550px;
  }

  #wrapper {
    padding-top: 1.5em;;
  }

  .gallery__container {
    padding-top: 1.5em;
  }
  .gallery__container-top {
    width: 80%;
    margin: 0 auto;
    padding-top: 0px;
  }

  .gallery__container-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .project {
    max-width: 280px;
  }

  .offer {
    width: 80%;
    margin: 0 auto;
  }
}